.btn, .btnTransparent, .btnAccent, .btnAccentReverse {
  display: inline-block;
  text-decoration: none;
 
  padding: 10px 25px; }
  .btn:hover, .btnTransparent:hover, .btnAccent:hover, .btnAccentReverse:hover, .btn:focus, .btnTransparent:focus, .btnAccent:focus, .btnAccentReverse:focus {
    text-decoration: none; }

.btnTransparent {
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.4); }
  .btnTransparent:hover {
    color: #fff; }

.btnAccent {
  text-transform: uppercase;
  color: #fff;
  background: #d12127; }
  .btnAccent:hover {
    color: #fff; }


.btnAccentReverse {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .btnAccentReverse:hover {
    color: #fff;
    background: #d12127;
    border: 1px solid #d12127; }

.rev_slider_wrapper {
  z-index: 1; }

@media (min-width: 768px) {
  .rev_slider_wrapper {
    min-height: 100vh; } }
@media (min-width: 992px) {
  .rev_slider_wrapper {
    min-height: 100vh; } }
@media (min-width: 1200px) {
  .rev_slider_wrapper {
    min-height: 100vh; } }
.slider-logo {
  height: 33vh; }

header {
  position: fixed;
  z-index: 333;
  width: 100%;
 
   
    background-color: rgba(0,0,0,0.5); 
    height: 120px;

}
  header .logo {
    display: inline-block;
    padding: 10px 0;
    position: absolute;
    top: -8px;
    left: 30px; }
    header .logo img {
      width: 200px; }
  header .navbar {
    background: transparent;
    border: none;
    margin-bottom: 0;
    display: inline-block;
     
    
  }
    header .navbar .navbar-nav {
      float: none;
      display: inline-block;
    }
      header .navbar .navbar-nav li a {
        color: #fff;
        font-weight: bold;
        padding-top:20px;
          font-size: 20px;
      font-family: 'Cardo', serif;}
        header .navbar .navbar-nav li a:hover {
          color: #912020;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
        font-size: 22px;}
      header .navbar .navbar-nav li.active a {
        color: #912020;
        background: transparent;
      font-size: 22px
      }
        header .navbar .navbar-nav li.active a:hover {
          background: transparent;
          color: #912020;
        font-size: 20px;
            
        }
      header .navbar .navbar-nav li.logo img {
        height: 100px; }
header .topbar {
    padding: 8px 20px;
    display: block;
    background: #111;
  font-size: 20px;
 margin-right: 0;
    
     
      
  }
header .topbar ul {
      margin: 0 15px 0 0;
      padding: 0; }
header .topbar ul li {
        display: inline-block;
        margin-left: 20px;
        font-size: 0.9em;
        font-family: 'Montserrat';
}
header .topbar ul li span {
          color: #fff;
         
          font-weight: bold; }
header .topbar ul li a {
          color: #fff;
         
          font-weight: bold; }


.destination-card {
  height: 450px;
  position: relative;
  margin-top: 30%;
    margin-left: 30%;
    margin-right: 10%;
    
  
 }
  .destination-card .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 350px;
    overflow: hidden;
  }
  .destination-card .image-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  
  .destination-card .overlay-details {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 50%;
    bottom: -50%;
    z-index: 0;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .destination-card .overlay-details p {
      position: absolute;
      width: 100%;
      color: #fff;
      left: 0;
      display: inline-block;
      margin: 0 auto;
      padding: 5%;
      bottom: 40%;
    font-size: 30px}
  .destination-card .overlay-title {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 50%;
    top: -50%;
    z-index: 0;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .destination-card h3 {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    top: 10%;
    color: transparent;
    
    font-weight: bold;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .destination-card .action {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    width: 100%;
    text-align: center; }
    .destination-card .action a {
      font-size: 0.8em; }
  .destination-card:hover .overlay {
    background: transparent; }
  .destination-card:hover h3 {
    color: #000; }
  .destination-card:hover .btnAccentReverse {
    color: #fff;
    background: #d12127;
    border: 1px solid #d12127; }
  .destination-card:hover .overlay-details {
    bottom: 0; }
  .destination-card:hover .overlay-title {
    top: 0; }


.container-fluid {
  padding: 0;
  position: relative;
    width: 100%
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }


.choix {
 background:rgba(39,80,231,.8) url(../images/pattern.png);
  height: 100%
  
}
.copyright{

background: #111;
    color:#fff;
    padding : 15px 0;
    bottom: 0;
    position: fixed;
    font-size :20px;
    text-align: center;
     font-family: 'EB Garamond', serif;
    width: 100%;
    
    
     
    
    
    
}
 .copyright span {
color :red;
     font-weight: bolder;
     
}
body{

    font-family: 'Cardo', serif;
}